<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Thank you!</title>
<link rel="stylesheet" href="last.css">
</head>
<body>
<center>
<form action="home.html" method="POST">
<div class="popup">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrl42fK0JaxplyqUelE9NzcMXlgPJsCTqQBw&usqp=CAU">
<h2>Thank you!</h2>
<p>Your Details have been successfully submitted.Thanks!</p>
<a href="home.html"><button type="button">OK</button></a>
</div>
</div>
 </form>
</body>
</center>
</html>