<!DOCTYPE html>
<html>
<head>
<center>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Thank you!</title>
<link rel="stylesheet" href="msgsent.css">
</head>
<body>
<form action="home.html" method="POST">
<div class="popup">
<img src="https://cdn.dribbble.com/users/14268/screenshots/8778221/crowdrise_2.png?compress=1&resize=400x300">
<h2>Be Calm & Wait Patiently...</h2><br>
<p>Message been sent successfully!!</p>
<a href="home.html"><button type="button">OK</button></a>
</div>
</div>
 </form>
</body>
</center>
</html>