<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device, initial-scale=1.0" />
        <link rel="stylesheet" href="signin.css">
        <title></title>
    </head>
    <style>
        body{
            background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-blood-donation-poster-background-material-picture-image_1005808.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%, 100%;
        }
    </style>

    <body>
        <div class="container">
            <a href="regdonor.html"><button class="btn btn--primary btn1--block">REGISTER AS DONOR</button></a>
            <a href="request.html"><button class="btn btn--secondary btn2--block">REQUEST FOR PLASMA</button></a>
        </div>
    </body>
    </html>